export SNOWFLAKE_USER="dbt_svc_user"
export SNOWFLAKE_ACCOUNT="YSEDHKM-AAB62136"
export SNOWFLAKE_DATABASE="DBT_TUTORIAL"
export SNOWFLAKE_WAREHOUSE="DEV_XSMALL"
export SNOWFLAKE_ROLE="dbt_runner"
export RSA_PEM="/home/cadan/.pem/rsa_key.pem"
